<div class="wrapper" [style.background]="selectedColor">
  <div class="circle-wrapper" *ngIf="areCirclesVisibility.visibilityRgbCircle">
    <ngx-colors ngx-colors-trigger [(ngModel)]="selectedColor"></ngx-colors>
    <mat-form-field>
      <input
        matInput
        class="color-input"
        [style.color]="color"
        [(ngModel)]="selectedColor"
      />
    </mat-form-field>
  </div>
  <button
    class="lock-item"
    mat-icon-button
    [ngStyle]="{ 'background-color': 'white' }"
    (click)="changeLock()"
  >
    <mat-icon>{{ lockIcon }}</mat-icon>
  </button>
</div>
