<h2 mat-dialog-title>{{ "header.instruction.headers.head" | translate }}</h2>
<mat-dialog-content>
  <h2>{{ "header.instruction.headers.change-color" | translate }}</h2>
  <p>{{ "header.instruction.descriptions.change-color" | translate }}</p>

  <h2>{{ "header.instruction.headers.change-number" | translate }}</h2>
  <p>{{ "header.instruction.descriptions.change-number" | translate }}</p>

  <h2>{{ "header.instruction.headers.themes" | translate }}</h2>
  <p>{{ "header.instruction.descriptions.themes" | translate }}</p>

  <h2>{{ "header.instruction.headers.for-visibility" | translate }}</h2>
  <p>
    {{ "header.instruction.descriptions.for-visibility" | translate }}
  </p>

  <h2>{{ "header.instruction.headers.translate" | translate }}</h2>
  <p>{{ "header.instruction.descriptions.translate" | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
